body {
	background:#4d87c7 url("back.png") repeat-x top left fixed;
	padding:10px 0;
	background-color: white;
	text-align: center;
}
#head {
	margin: 0px auto;
	margin-top: 40px;
	width: 1000px;
	height:30px;
	text-align: left;
	font-size: 20px;
	font-weight:bold;
	background-color: #66cdaa;
	box-shadow: 0px 0px 20px grey;
	text-align: left;
	border-left-style:solid;
	border-right-style:solid;
	border-color: grey;
	border-width:1px;
}
#headline {
	text-align: center;
	font-weight:bold;
	margin-bottom: 20px;
}
#foto {
	width: 110px;
	height: 140px;
	float:left;
	margin-right: 15px;
}
select {
	width: 500px;
}
#label {
	margin: 0px auto;
	padding-top: 20px;
	width: 990px;
}
fieldset {
	padding: 10px;
	width:900px;
	margin: 0px auto;
	margin-top: 0px;
}
#box {
	margin: 0px auto;
	padding: 30px;
	height: 600px;
}
#box2 {
	margin: 0px auto;
	padding-top: 30px;
}
#box3 {
	padding-top: 25px;
	float:right;
	width: 250px;
	height: 60px;
}
#box1 {
	width: 250px;
	height: 60px;
	float:left;
}
#boxbutton {
	width: 600px;
	height: 70px;
	float:left;
}
#fiktiv {
	font-size: 16px;
	margin-left: 10px;
	float:left;
	font-weight:bold;
}
#content {
	margin: 0px auto;
	margin-bottom: 80px;
	padding-bottom: 80px;
	width: 1000px;
	background-color: white;
	box-shadow: 0px 0px 20px grey;
	text-align: left;
	border-width:1px;
	border-style:solid;
	border-color: grey;
	border-top-style:none;
}
#menu {
	margin: 40px auto;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}
#clear {
	clear: left;
}
#menu li a {
	color:black;
	padding: 0px 1em;
	margin-right: 30px;
	text-decoration: none;
	background-color:#00ffff;
	box-shadow: 10px 4px 15px grey;
}
#menu li a:hover {
	background-color:#b0c4de;
	color:#900;
	box-shadow: 10px 4px 15px grey;
}
#menu li {
	display: inline;
}
#tab {
	padding-left: 50px;
}
#savebutton {
	padding: 10px;
	width:900px;
	margin: 0px auto;
	margin-top: 0px;
	text-align:left;
}
label, select, input[type=checkbox], input[type=radio], input[type=button], input[type=submit] {
	cursor: pointer;
}
input, textarea {
	background: #ddd;
}
input:focus, textarea:focus {
	color: #000;
	background: #fff;
	outline: 1px solid red;
}
.left {
	float: left;
	text-align: right;
	width: 27%;
	margin-right: 2%;
}
.right, button {
	margin-left : 29%;
}
.wrong {
	background-color:red;
}
.rightPlus {
	margin-left:35%;
}
.textfeld {
	vertical-align:top;
}
#Helpap, #PIN3 {
	width: 75px;
	background: #ddd;
}
.number {
	width:50px;
}
/* Relativer Tooltip */
.tooltip, .tooltip:link, .tooltip:visited, .tooltip:active {
	position: relative;
}
.tooltip:hover {
	background: transparent;
}
.tooltip span {
	display: none;
	text-decoration: none;
}
.tooltip:hover span {
	display: block;
	position: absolute;
	margin-left:160px; width:130px;
	left: 0;
	z-index: 100;
	color: #000000;
	border:1px solid #000000;
	background: #FFFFCC;
	font: 12px Verdana, sans-serif;
	text-align: left;
}
.tooltip span b {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weigth: bold;
	color: yellow;
	background-color: gray;
	border: 0px;
	border-bottom: 1px solid black;
}
